*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://plus.unsplash.com/premium_photo-1673735396428-d51dc2a7a62d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dGljJTIwdGFjJTIwdG9lfGVufDB8fDB8fHww);
    text-align: center;
    background-size: cover;
}


#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(61, 152, 237);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: red;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(61, 152, 237);
    color: white;
    border-radius: 1rem;
    border: none;
}